<!DOCTYPE html>
<html>
  <head>
    <title>MAGGIE SHAFRAN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <script type="text/javascript"> window.project1 = "<%= image_url('project1.png') %>"</script>
    <script type="text/javascript"> window.project2 = "<%= image_url('project2.png') %>"</script>
    <script type="text/javascript"> window.project3 = "<%= image_url('project3.png') %>"</script>
    <script type="text/javascript"> window.project4 = "<%= image_url('project4.png') %>"</script>
    <script type="text/javascript"> window.project5 = "<%= image_url('project5.png') %>"</script>
    <script type="text/javascript"> window.project6 = "<%= image_url('project6.png') %>"</script>
    <script type="text/javascript"> window.BlueBanner = "<%= image_url('BlueBanner.JPG') %>"</script>
    <script type="text/javascript"> window.GreenBanner = "<%= image_url('GreenBanner.png') %>"</script>
    <script type="text/javascript"> window.HoneyBanner = "<%= image_url('HoneyBanner.png') %>"</script>
    <script type="text/javascript"> window.HotBanner = "<%= image_url('HotBanner.png') %>"</script>
    <script type="text/javascript"> window.LatexBanner = "<%= image_url('LatexBanner.JPG') %>"</script>
    <script type="text/javascript"> window.RedBanner = "<%= image_url('RedBanner.JPG') %>"</script>
    <script type="text/javascript"> window.ResidueBanner = "<%= image_url('ResidueBanner.JPG') %>"</script>
    <script type="text/javascript"> window.RustBanner = "<%= image_url('RustBanner.png') %>"</script>
    <script type="text/javascript"> window.WineBanner = "<%= image_url('WineBanner.png') %>"</script>


    <script type="text/javascript"> window.project7 = "<%= image_url('commissions_project.png') %>"</script>
    <script type="text/javascript"> window.purchasing_info = "<%= image_url('purchasing_info.png') %>"</script>


    <script type="text/javascript"> window.logo = "<%= image_url('favicon.png') %>"</script>
    <script type="text/javascript"> window.pdf = "<%= image_url('Available_Art.pdf') %>"</script>


    <script type="text/javascript"> window.headshot = "<%= image_url('headshot.png') %>"</script>

    <script src="https://kit.fontawesome.com/1576428ae6.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1576428ae6.js" crossorigin="anonymous"></script>  
  
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;700&family=Inter:wght@200;400;700&display=swap" rel="stylesheet">
    
    <%= favicon_link_tag 'favicon.png' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
