<!DOCTYPE html>
<html>
  <head>
    <title>MAGGIE SHAFRAN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript"> window.splash = "<%= image_url('splash.png') %>"</script>
    <script type="text/javascript"> window.project1 = "<%= image_url('friendship_worship/big_headed_emma.JPG') %>"</script>
    <script type="text/javascript"> window.project2 = "<%= image_url('little_pieces/lighter.JPG') %>"</script>
    <script type="text/javascript"> window.project3 = "<%= image_url('project3.png') %>"</script>
    <script type="text/javascript"> window.project4 = "<%= image_url('project4.png') %>"</script>
    <script type="text/javascript"> window.project5 = "<%= image_url('other.png') %>"</script>


    

    <script type="text/javascript"> window.shroud = "<%= image_url('uninhabited/shroud.JPG') %>"</script>



    <script type="text/javascript"> window.headshot = "<%= image_url('headshot.png') %>"</script>
    <script src="https://kit.fontawesome.com/1576428ae6.js" crossorigin="anonymous"></script>
    <link href="//db.onlinewebfonts.com/c/1e6ec96c95301fa73aa1d026f161a269?family=MarzoW00-Regular" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" />
    <%= favicon_link_tag 'favicon.png' %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
