<!DOCTYPE html>
<html>
  <head>
    <title>MAGGIE SHAFRAN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <script type="text/javascript"> window.project1 = "<%= image_url('project1.png') %>"</script>
    <script type="text/javascript"> window.project2 = "<%= image_url('project2.png') %>"</script>
    <script type="text/javascript"> window.project3 = "<%= image_url('project3.png') %>"</script>
    <script type="text/javascript"> window.project4 = "<%= image_url('project4.png') %>"</script>
    <script type="text/javascript"> window.project5 = "<%= image_url('project5.png') %>"</script>
    <script type="text/javascript"> window.project6 = "<%= image_url('project6.png') %>"</script>

    <script type="text/javascript"> window.pdf = "<%= image_url('AvailableArt.pdf') %>"</script>


    <script type="text/javascript"> window.headshot = "<%= image_url('headshot.png') %>"</script>

    <script src="https://kit.fontawesome.com/1576428ae6.js" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/1576428ae6.js" crossorigin="anonymous"></script>  
  
     

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" >
    
    <%= favicon_link_tag 'favicon.png' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
